integration-tests/test/services/CalculatorTestService/src/main/resources/META-INF/soa/services/wsdl/CalculatorTestService/CalculatorTestService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
   
       http://www.apache.org/licenses/LICENSE-2.0
 -->
<wsdl:definitions
  name="CalculatorTestService"
  targetNamespace="http://www.ebayopensource.org/turmeric/calcultor/v1/services"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
  xmlns:tns="http://www.ebayopensource.org/turmeric/calcultor/v1/services"
  xmlns="http://schemas.xmlsoap.org/wsdl/">

<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" 
targetNamespace="http://www.ebayopensource.org/turmeric/calcultor/v1/services" xmlns:tns="http://www.ebayopensource.org/turmeric/calcultor/v1/services">

<xs:element name="getVersionRequest" nillable="true" type="tns:GetVersionRequest" />
<xs:element name="getVersionResponse" nillable="true" type="tns:GetVersionResponse" />
<xs:element name="getAdditionResponse" nillable="true" type="tns:GetAdditionResponse" />
<xs:element name="getAdditionRequest" nillable="true" type="tns:GetAdditionRequest" />

<xs:element name="doMultiplicationResponse" nillable="true" type="tns:DoMultiplicationResponse" />
<xs:element name="doMultiplicationRequest" nillable="true" type="tns:DoMultiplicationRequest" />

<xs:element name="getDivisionResponse" nillable="true" type="tns:GetDivisionResponse" />
<xs:element name="getDivisionRequest" nillable="true" type="tns:GetDivisionRequest" />

<xs:element name="getSubtractionResponse" nillable="true" type="tns:GetSubtractionResponse" />
<xs:element name="getSubtractionRequest" nillable="true" type="tns:GetSubtractionRequest" />

<xs:element name="getSquareRootResponse" nillable="true" type="tns:GetSquareRootResponse" />
<xs:element name="getSquareRootRequest" nillable="true" type="tns:GetSquareRootRequest" />


<xs:complexType name="GetSquareRootResponse">
	<xs:annotation>
		<xs:documentation>
		</xs:documentation>
		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseResponse">
			<xs:sequence>
    				<xs:element name="result" type="xs:double"/>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="GetSquareRootRequest">
	<xs:annotation>
		<xs:documentation>
		</xs:documentation>
		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseRequest">
			<xs:sequence>
    				<xs:element name="number" type="xs:int"/>
    				
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>
<xs:complexType name="GetSubtractionResponse">
	<xs:annotation>
		<xs:documentation>
		</xs:documentation>
		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseResponse">
			<xs:sequence>
    				<xs:element name="result" type="xs:double"/>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="GetSubtractionRequest">
	<xs:annotation>
		<xs:documentation>
		</xs:documentation>
		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseRequest">
			<xs:sequence>
    				<xs:element name="paramOne" type="xs:double"/>
    				<xs:element name="paramTwo" type="xs:double"/>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="GetDivisionResponse">
	<xs:annotation>
		<xs:documentation>
		</xs:documentation>
		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseResponse">
			<xs:sequence>
    				<xs:element name="result" type="xs:double"/>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="GetDivisionRequest">
	<xs:annotation>
		<xs:documentation>
		</xs:documentation>
		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseRequest">
			<xs:sequence>
    				<xs:element name="paramOne" type="xs:double"/>
    				<xs:element name="paramTwo" type="xs:double"/>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="DoMultiplicationResponse">
	<xs:annotation>
		<xs:documentation>
		</xs:documentation>
		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseResponse">
			<xs:sequence>
    				<xs:element name="result" type="xs:double"/>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="DoMultiplicationRequest">
	<xs:annotation>
		<xs:documentation>
		</xs:documentation>
		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseRequest">
			<xs:sequence>
    				<xs:element name="paramOne" type="xs:double"/>
    				<xs:element name="paramTwo" type="xs:double"/>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="GetAdditionResponse">
	<xs:annotation>
		<xs:documentation>
		</xs:documentation>

		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseResponse">
			<xs:sequence>
    				<xs:element name="result" type="xs:double"/>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="GetAdditionRequest">
	<xs:annotation>
		<xs:documentation>
		</xs:documentation>

		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseRequest">
			<xs:sequence>
    				<xs:element name="paramOne" type="xs:double"/>
    				<xs:element name="paramTwo" type="xs:double"/>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="GetVersionResponse">
	<xs:annotation>
		<xs:documentation>
		</xs:documentation>

		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseResponse">
			
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

<xs:complexType name="GetVersionRequest">
	<xs:annotation>
		<xs:documentation>
		</xs:documentation>

		<xs:appinfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseRequest">
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

  <xs:simpleType name="AckValue">
                <xs:annotation>
                    <xs:documentation>
                        Indicates whether the error is a severe error
                        (causing the request to fail) or an
                        informational error (a warning) that should be
                        communicated to the user.
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Success">
                        <xs:annotation>
                            <xs:documentation>
                                The request was processed successfully,
                                but something occurred that may affect
                                your application or the user.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Failure">
                        <xs:annotation>
                            <xs:documentation>
                                The request that triggered the error was
                                not processed successfully. When a
                                serious application-level error occurs,
                                the error is returned instead of the
                                business data.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Warning">
                        <xs:annotation>
                            <xs:documentation>
                                The request that triggered the error was
                                processed successfully but with some
                                warnings.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="PartialFailure">
                        <xs:annotation>
                            <xs:documentation>
                                The request that triggered the error was
                                processed successfully but with some
                                warnings.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType abstract="true" name="BaseRequest">
                <xs:annotation>
                    <xs:documentation>
                        This is the base class for request container for
                        all service operations.
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="extension" type="tns:ExtensionType" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="BaseResponse">
                <xs:annotation>
                    <xs:documentation>
                        Base response container for all service
                        operations. Contains error information
                        associated with the request.
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="ack" type="tns:AckValue">
                        <xs:annotation>
                            <xs:documentation />
                            <xs:appinfo>
                                <CallInfo>
                                    <AllCalls />
                                    <Returned>Always</Returned>
                                </CallInfo>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="errorMessage"
                        type="tns:ErrorMessage">
                        <xs:annotation>
                            <xs:documentation>
                                Information for an error or warning that
                                occurred when eBay processed the
                                request.
                            </xs:documentation>
                            <xs:appinfo>
                                <CallInfo>
                                    <AllCalls />
                                    <Returned>Conditionally</Returned>
                                </CallInfo>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="version"
                        type="xs:string">
                        <xs:annotation>
                            <xs:documentation />
                            <xs:appinfo>
                                <CallInfo>
                                    <AllCalls />
                                    <Returned>Always</Returned>
                                </CallInfo>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="timestamp"
                        type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation />
                            <xs:appinfo>
                                <CallInfo>
                                    <AllCalls />
                                    <Returned>Always</Returned>
                                </CallInfo>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="extension" type="tns:ExtensionType" />
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="ErrorCategory">
                <xs:annotation>
                    <xs:documentation>
                        Documentation goes here.
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="System" />
                    <xs:enumeration value="Application" />
                    <xs:enumeration value="Request" />
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ErrorData">
                <xs:annotation>
                    <xs:documentation>
                        Documentation goes here
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="errorId" type="xs:long" />
                    <xs:element name="domain" type="xs:string" />
                    <xs:element minOccurs="0" name="subdomain"
                        type="xs:string" />
                    <xs:element name="severity"
                        type="tns:ErrorSeverity" />
                    <xs:element name="category"
                        type="tns:ErrorCategory" />
                    <xs:element name="message" type="xs:string" />
                    <xs:element minOccurs="0" name="exceptionId"
                        type="xs:token" />
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="parameter" type="tns:ErrorParameter" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ErrorMessage">
                <xs:annotation>
                    <xs:documentation>
                        Documentation goes here
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <!-- 
                    <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0"
                    processContents="lax" />
                    </xs:sequence>
                -->
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="error" type="tns:CommonErrorData" />
                </xs:sequence>
            </xs:complexType>
            
            <xs:complexType name="CommonErrorData">
				<xs:annotation>
					<xs:documentation>Documentation goes here</xs:documentation>
					<xs:appinfo><typeLibrarySource library="common-type-library"
						namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
					</xs:appinfo>
				</xs:annotation>
			
				<xs:complexContent>
					<xs:extension base="tns:ErrorData">
						<xs:sequence>
							<xs:element name="errorName" type="xs:string"></xs:element>
							<xs:element name="cause" type="xs:string" minOccurs="0"></xs:element>
							<xs:element name="resolution" type="xs:string" minOccurs="0"></xs:element>
							<xs:element name="errorGroups" type="xs:string" minOccurs="0">
								<xs:annotation>
						<xs:documentation>Error group values are whitespace separated</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="organization" type="xs:string"></xs:element>
							<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
	
            <xs:complexType name="ErrorParameter">
                <xs:annotation>
                    <xs:documentation>
                        Documentation goes here
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="name" type="xs:string"
                            use="optional" />
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:simpleType name="ErrorSeverity">
                <xs:annotation>
                    <xs:documentation>
                        Documentation goes here.
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Error" />
                    <xs:enumeration value="Warning" />
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ExtensionType">
                <xs:annotation>
                    <xs:documentation>
                        Documentation goes here
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="id" type="xs:positiveInteger" />
                    <xs:element name="version" type="xs:string" />
                    <xs:element name="contentType" type="xs:string" />
                    <xs:element name="value" type="xs:string" />
                    <xs:any maxOccurs="unbounded" minOccurs="0"
                        processContents="lax" />
                </xs:sequence>
            </xs:complexType>

            
 </xs:schema>
</wsdl:types>
  <wsdl:message name="getVersionRequest">
    <wsdl:part name="parameters" element="tns:getVersionRequest"/>
  </wsdl:message>
  
  <wsdl:message name="getVersionResponse">
    <wsdl:part name="parameters" element="tns:getVersionResponse"/>
  </wsdl:message>

  <wsdl:message name="getAdditionRequest">
  	<wsdl:part name="parameters" element="tns:getAdditionRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAdditionResponse">
  	<wsdl:part name="parameters" element="tns:getAdditionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="doMultiplicationRequest">
  	<wsdl:part name="parameters" element="tns:doMultiplicationRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="doMultiplicationResponse">
  	<wsdl:part name="parameters" element="tns:doMultiplicationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDivisionRequest">
  	<wsdl:part name="parameters" element="tns:getDivisionRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDivisionResponse">
  	<wsdl:part name="parameters" element="tns:getDivisionResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubtractionRequest">
  	<wsdl:part name="parameters" element="tns:getSubtractionRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSubtractionResponse">
  	<wsdl:part name="parameters" element="tns:getSubtractionResponse"></wsdl:part>
  </wsdl:message>
    <wsdl:message name="getSquareRootRequest">
  	<wsdl:part name="parameters" element="tns:getSquareRootRequest"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSquareRootResponse">
  	<wsdl:part name="parameters" element="tns:getSquareRootResponse"></wsdl:part>
  </wsdl:message>
  
  
  <wsdl:portType name="CalculatorTestServicePort">
    <wsdl:operation name="getVersion">
      <wsdl:input message="tns:getVersionRequest"></wsdl:input>
      <wsdl:output message="tns:getVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getAddition">
    	<wsdl:input message="tns:getAdditionRequest"></wsdl:input>
    	<wsdl:output message="tns:getAdditionResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doMultiplication">
    	<wsdl:input message="tns:doMultiplicationRequest"></wsdl:input>
    	<wsdl:output message="tns:doMultiplicationResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDivision">
    	<wsdl:input message="tns:getDivisionRequest"></wsdl:input>
    	<wsdl:output message="tns:getDivisionResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSubtraction">
    	<wsdl:input message="tns:getSubtractionRequest"></wsdl:input>
    	<wsdl:output message="tns:getSubtractionResponse"></wsdl:output>
    </wsdl:operation>
      <wsdl:operation name="getSquareRoot">
    	<wsdl:input message="tns:getSquareRootRequest"></wsdl:input>
    	<wsdl:output message="tns:getSquareRootResponse"></wsdl:output>
    </wsdl:operation>
    
  </wsdl:portType>
  <wsdl:binding name="CalculatorTestServiceHttpBinding"
  	type="tns:CalculatorTestServicePort">

  	<http:binding verb="POST" />
  	<wsdl:operation name="getVersion">

  		<http:operation location="/getVersion" />
  		<wsdl:input>
  			<mime:content part="parameters"
  				type="application/x-www-form-urlencoded" />

  		</wsdl:input>
  		<wsdl:output>
  			<mime:content part="parameters" type="text/xml" />

  		</wsdl:output>
  	</wsdl:operation>

  	<wsdl:operation name="getAddition">

  		<http:operation location="/getAddition" />
  		<wsdl:input>
  			<mime:content part="parameters"
  				type="application/x-www-form-urlencoded" />

  		</wsdl:input>
  		<wsdl:output>
  			<mime:content part="parameters" type="text/xml" />

  		</wsdl:output>
  	</wsdl:operation>

  	<wsdl:operation name="doMultiplication">

  		<http:operation location="/doMultiplication" />
  		<wsdl:input>
  			<mime:content part="parameters"
  				type="application/x-www-form-urlencoded" />

  		</wsdl:input>
  		<wsdl:output>
  			<mime:content part="parameters" type="text/xml" />

  		</wsdl:output>
  	</wsdl:operation>

  	<wsdl:operation name="getDivision">

  		<http:operation location="/getDivision" />
  		<wsdl:input>
  			<mime:content part="parameters"
  				type="application/x-www-form-urlencoded" />

  		</wsdl:input>
  		<wsdl:output>
  			<mime:content part="parameters" type="text/xml" />

  		</wsdl:output>
  	</wsdl:operation>

  	<wsdl:operation name="getSubtraction">

  		<http:operation location="/getSubtraction" />
  		<wsdl:input>
  			<mime:content part="parameters"
  				type="application/x-www-form-urlencoded" />

  		</wsdl:input>
  		<wsdl:output>
  			<mime:content part="parameters" type="text/xml" />

  		</wsdl:output>
  	</wsdl:operation>

  	<wsdl:operation name="getSquareRoot">
  		<http:operation location="/getSquareRoot" />
  		<wsdl:input>
  			<mime:content part="parameters"
  				type="application/x-www-form-urlencoded" />
  		</wsdl:input>
  		<wsdl:output>
  			<mime:content part="parameters" type="text/xml" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalculatorTestServiceSOAPBinding"
		type="tns:CalculatorTestServicePort">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getVersion">


			<soap:operation
				soapAction="http://www.ebay.com/marketplace/services/getVersion" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getAddition">

			<soap:operation
				soapAction="http://www.ebay.com/marketplace/services/getAddition" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="doMultiplication">

			<soap:operation
				soapAction="http://www.ebay.com/marketplace/services/doMultiplication" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getDivision">

			<soap:operation
				soapAction="http://www.ebay.com/marketplace/services/getDivision" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getSubtraction">

			<soap:operation
				soapAction="http://www.ebay.com/marketplace/services/getSubtraction" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="getSquareRoot">
			<soap:operation
				soapAction="http://www.ebay.com/marketplace/services/getSquareRoot" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CalculatorTestService">
		<wsdl:port name="CalculatorTestServiceHttp" binding="tns:CalculatorTestServiceHttpBinding">
			<http:address location="http://svcs.ebay.com/CalculatorTestService"/>
		</wsdl:port>
		<wsdl:port name="CalculatorTestServiceSOAP" binding="tns:CalculatorTestServiceSOAPBinding">
			<soap12:address xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" location="http://svcs.ebay.com/CalculatorTestService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
