policy/GroupMembershipService/src/main/resources/META-INF/soa/services/wsdl/GroupMembershipService/GroupMembershipService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!--  Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.            -->
<!--  Licensed under the Apache License, Version 2.0 (the "License");   -->
<!--  you may not use this file except in compliance with the License.  -->
<!--  You may obtain a copy of the License at                           -->
<!--                                                                    -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                     -->
<!-- ================================================================== -->
<wsdl:definitions
	targetNamespace="http://www.ebayopensource.org/turmeric/security/v1/services"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns0="http://www.ebayopensource.org/turmeric/security/v1/services"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http://www.ebayopensource.org/turmeric/security/v1/services"
			xmlns:tns="http://www.ebayopensource.org/turmeric/security/v1/services"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">

			<xs:complexType abstract="true" name="BaseRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension"
						type="tns:ExtensionType">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ExtensionType">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:positiveInteger"></xs:element>
					<xs:element name="version" type="xs:string"></xs:element>
					<xs:element name="contentType" type="xs:string"></xs:element>
					<xs:element name="value" type="xs:string"></xs:element>
					<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax">
					</xs:any>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning)
						that should be
						communicated to the user.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">

					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but
								something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>

							<xs:documentation>
								The request that triggered the error was
								not
								processed successfully. When a
								serious application-level error
								occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>

						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>

				</xs:restriction>
			</xs:simpleType>
			<xs:complexType abstract="true" name="BaseResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation>

							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>

							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

					<xs:element minOccurs="0" name="version" type="xs:string">
						<xs:annotation>
							<xs:documentation></xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
						</xs:annotation>

					</xs:element>
					<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation></xs:documentation>

							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension"
						type="tns:ExtensionType">
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
			</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:restriction base="xs:token">
					<xs:enumeration value="System"></xs:enumeration>
					<xs:enumeration value="Application"></xs:enumeration>
					<xs:enumeration value="Request"></xs:enumeration>
				</xs:restriction>

			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>Documentation goes here</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:sequence>
					<xs:element name="errorId" type="xs:long"></xs:element>
					<xs:element name="domain" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="subdomain" type="xs:string"></xs:element>
					<xs:element name="severity" type="tns:ErrorSeverity"></xs:element>
					<xs:element name="category" type="tns:ErrorCategory"></xs:element>
					<xs:element name="message" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token"></xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter"
						type="tns:ErrorParameter"></xs:element>
				</xs:sequence>


			</xs:complexType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>Documentation goes here</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<!-- <xs:sequence> <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax" 
					/> </xs:sequence> -->

				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error"
						type="tns:CommonErrorData">
					</xs:element>
				</xs:sequence>

			</xs:complexType>
			<xs:complexType name="CommonErrorData">
				<xs:annotation>
					<xs:documentation>Documentation goes here</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
					</xs:appinfo>
				</xs:annotation>

				<xs:complexContent>
					<xs:extension base="tns:ErrorData">
						<xs:sequence>
							<xs:element name="errorName" type="xs:string"></xs:element>
							<xs:element name="cause" type="xs:string" minOccurs="0"></xs:element>
							<xs:element name="resolution" type="xs:string"
								minOccurs="0"></xs:element>
							<xs:element name="errorGroups" type="xs:string"
								minOccurs="0">
								<xs:annotation>
									<xs:documentation>Error group values are whitespace separated
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="organization" type="xs:string"></xs:element>
							<xs:any maxOccurs="unbounded" minOccurs="0"
								processContents="lax" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>Documentation goes here</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string" use="optional"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
			</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:restriction base="xs:token">
					<xs:enumeration value="Error"></xs:enumeration>
					<xs:enumeration value="Warning"></xs:enumeration>
				</xs:restriction>

			</xs:simpleType>

			<xs:complexType abstract="true"
				name="BaseGroupMembershipServiceRequestType">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for all operations in
						GroupMembership Service.
				</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType abstract="true"
				name="BaseGroupMembershipServiceResponseType">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service operations in GroupMembership
						Service.
				</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="IsMemberOfRequestType">
				<xs:complexContent>
					<xs:extension base="tns:BaseGroupMembershipServiceRequestType">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="subject"
								type="tns:SubjectType" />
							<xs:element maxOccurs="unbounded" minOccurs="0"
								name="subjectgroup" type="tns:SubjectGroupType" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="IsMemberOfResponseType">
				<xs:complexContent>
					<xs:extension base="tns:BaseGroupMembershipServiceResponseType">

						<xs:sequence>
							<xs:element name="isMember" type="xs:boolean" />
							<xs:element maxOccurs="unbounded" minOccurs="0"
								name="subjectgroup" type="tns:SubjectGroupType" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="GetGroupMembersRequestType">
				<xs:complexContent>
					<xs:extension base="tns:BaseGroupMembershipServiceRequestType">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0"
								name="subjectgroupKey" type="tns:SubjectGroupKeyType" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="GetGroupMembersResponseType">
				<xs:complexContent>
					<xs:extension base="tns:BaseGroupMembershipServiceResponseType">

						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0"
								name="subjectgroupMembers" type="tns:GroupMembersType" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>


			<xs:complexType name="SubjectType">
				<xs:sequence>
					<xs:element name="domain" type="xs:string" />
					<xs:element name="value" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="SubjectGroupType">
				<xs:sequence>
					<xs:element name="domain" type="xs:string" />
					<xs:element name="name" type="xs:string" />
				</xs:sequence>
				<xs:attribute name="calculator" type="xs:string" use="optional" />
			</xs:complexType>

			<xs:complexType name="SubjectGroupKeyType">
				<xs:sequence>
					<xs:element name="id" type="xs:long" />
					<xs:element name="name" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="GroupMembersType">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="memberSubjects" type="tns:SubjectType" />
					<xs:element maxOccurs="1" minOccurs="0" name="subjectGroup"
						type="tns:SubjectGroupType" />
				</xs:sequence>
			</xs:complexType>

			<xs:element name="isMemberOfRequest" nillable="true"
				type="tns:IsMemberOfRequestType" />
			<xs:element name="isMemberOfResponse" nillable="true"
				type="tns:IsMemberOfResponseType" />
			<xs:element name="getGroupMembersRequest" nillable="true"
				type="tns:GetGroupMembersRequestType" />
			<xs:element name="getGroupMembersResponse" nillable="true"
				type="tns:GetGroupMembersResponseType" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="isMemberOfRequest">
		<wsdl:part name="parameters" element="ns0:isMemberOfRequest" />
	</wsdl:message>
	<wsdl:message name="isMemberOfResponse">
		<wsdl:part name="parameters" element="ns0:isMemberOfResponse" />
	</wsdl:message>
	<wsdl:message name="getGroupMembersRequest">
		<wsdl:part name="parameters" element="ns0:getGroupMembersRequest" />
	</wsdl:message>
	<wsdl:message name="getGroupMembersResponse">
		<wsdl:part name="parameters" element="ns0:getGroupMembersResponse" />
	</wsdl:message>
	<wsdl:portType name="GroupMembershipServicePortType">
		<wsdl:operation name="isMemberOf">
			<wsdl:input message="ns0:isMemberOfRequest" />
			<wsdl:output message="ns0:isMemberOfResponse" />
		</wsdl:operation>
		<wsdl:operation name="getGroupMembers">
			<wsdl:input message="ns0:getGroupMembersRequest" />
			<wsdl:output message="ns0:getGroupMembersResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GroupMembershipServiceHttpBinding"
		type="ns0:GroupMembershipServicePortType">
		<http:binding verb="POST" />
		<wsdl:operation name="isMemberOf">
			<http:operation location="GroupMembershipService/isMemberOf" />
			<wsdl:input>
				<mime:content part="isMemberOfRequest" type="text/xml" />
			</wsdl:input>
			<wsdl:output>
				<mime:content part="isMemberOfResponse" type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGroupMembers">
			<http:operation location="GroupMembershipService/getGroupMembers" />
			<wsdl:input>
				<mime:content part="getGroupMembersRequest" type="text/xml" />
			</wsdl:input>
			<wsdl:output>
				<mime:content part="getGroupMembersResponse" type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="GroupMembershipServiceSOAP11Binding"
		type="ns0:GroupMembershipServicePortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="isMemberOf">
			<soap:operation soapAction="urn:isMemberOf" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGroupMembers">
			<soap:operation soapAction="urn:getGroupMembers"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="GroupMembershipServiceSOAP12Binding"
		type="ns0:GroupMembershipServicePortType">
		<soap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
		<wsdl:operation name="isMemberOf">
			<soap12:operation soapAction="urn:isMemberOf" style="document"
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
			<wsdl:input>
				<soap12:body use="literal"
					xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"
					xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGroupMembers">
			<soap12:operation soapAction="urn:getGroupMembers"
				style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
			<wsdl:input>
				<soap12:body use="literal"
					xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"
					xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GroupMembershipService">
		<wsdl:port name="GroupMembershipServiceSOAP11port_http"
			binding="ns0:GroupMembershipServiceSOAP11Binding">
			<soap:address location="http://localhost:8080/GroupMembershipService" />
		</wsdl:port>
		<wsdl:port name="GroupMembershipServiceSOAP12port_http"
			binding="ns0:GroupMembershipServiceSOAP12Binding">
			<soap12:address location="http://localhost:8080/GroupMembershipService"
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
		</wsdl:port>
		<wsdl:port name="GroupMembershipServiceHttpport" binding="ns0:GroupMembershipServiceHttpBinding">
			<http:address location="http://localhost:8080/GroupMembershipService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
