policy-enforcement-service/PolicyEnforcementService/src/main/resources/META-INF/soa/services/wsdl/PolicyEnforcementService/PolicyEnforcementService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at 
   
       http://www.apache.org/licenses/LICENSE-2.0
       
 -->
<wsdl:definitions
	targetNamespace="http://www.ebayopensource.org/turmeric/security/v1/services"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:ns0="http://www.ebayopensource.org/turmeric/security/v1/services"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http://www.ebayopensource.org/turmeric/security/v1/services"
			xmlns:tns="http://www.ebayopensource.org/turmeric/security/v1/services">
	
	 		<xs:complexType abstract="true" name="BaseRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="extension" type="tns:ExtensionType" minOccurs="0" maxOccurs="unbounded" >
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType abstract="true" name="BaseResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				
				<xs:sequence>
					
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation>
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="errorMessage"	type="tns:ErrorMessage" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

					<xs:element name="version" type="xs:string" minOccurs="0" >
						<xs:annotation>
							<xs:documentation></xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="timestamp" type="xs:dateTime" minOccurs="0" >
						<xs:annotation>
							<xs:documentation></xs:documentation>

							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="extension" type="tns:ExtensionType" minOccurs="0" maxOccurs="unbounded">
					</xs:element>					
				</xs:sequence>
			</xs:complexType>	


			<xs:complexType name="VerifyAccessRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element name="operationKey"	type="tns:OperationKey" minOccurs="1" />
							<xs:element name="policyType" type="xs:token" minOccurs="1" maxOccurs="unbounded" >
								<xs:annotation>
									<xs:documentation>            
										The type of the policy. The policy type values are AUTHN, AUTHZ, RL.
										This field is required. 
									</xs:documentation>
									<xs:appinfo>
										<minOccurs>1</minOccurs>
										<maxOccurs>unbounded</maxOccurs>
										<callInfo>
											<requiredInput>Yes</requiredInput>
										</callInfo>
									</xs:appinfo>
							   </xs:annotation>
						   </xs:element>
							<xs:element name="credential" type="tns:KeyValuePair" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="subject" type="tns:SubjectType" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="extendedInfo"	type="tns:KeyValuePair" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="accessControlObject" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="resourceType" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="OperationKey">
				<xs:sequence>
					<xs:element name="operationId" type="xs:long" minOccurs="0" />
					<xs:element name="operationName" type="xs:token" minOccurs="0" />
					<xs:element name="resourceName" type="xs:token"	minOccurs="0" />
					<xs:element name="resourceType" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="VerifyAccessResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element name="authenticatedSubject"	type="tns:SubjectType" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="resolvedSubjectGroup"	type="tns:SubjectGroupType" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="rateLimiterStatus" type="tns:RateLimiterStatus" minOccurs="0" />
							<xs:element name="extendedInfo"	type="tns:KeyValuePair" minOccurs="0" maxOccurs="unbounded" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="KeyValuePair">
				<xs:sequence>
					<xs:element name="key" type="xs:string" />
					<xs:element name="value" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="SubjectType">
				<xs:sequence>
					<xs:element name="domain" type="xs:string" />
					<xs:element name="value" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:simpleType name="RateLimiterStatus">
				<xs:annotation>
					<xs:documentation>
						return the Rate Limiter Status
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="SERVE_OK">
						<xs:annotation>
							<xs:documentation>
								No Block from Rate Limiter
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="FLAG">
						<xs:annotation>
							<xs:documentation>
								Flaged by Rate Limiter
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SERVE_GIF">
						<xs:annotation>
							<xs:documentation>
								Server Gif by Rate Limiter
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="BLOCK">
						<xs:annotation>
							<xs:documentation>
								Block by Rate Limiter
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="RequestHasBeenServed">
						<xs:annotation>
							<xs:documentation>
								Request Has Been Served by Rate Limiter
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Invalid">
						<xs:annotation>
							<xs:documentation>Invalid</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="SubjectGroupType">
				<xs:sequence>
					<xs:element name="domain" type="xs:string" />
					<xs:element name="name" type="xs:string" />
				</xs:sequence>
				<xs:attribute name="calculator" type="xs:string"
					use="optional" />
			</xs:complexType>
			
			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">

					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>

							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>

						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>

				</xs:restriction>
			</xs:simpleType>
			
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:restriction base="xs:token">
					<xs:enumeration value="System"></xs:enumeration>
					<xs:enumeration value="Application"></xs:enumeration>
					<xs:enumeration value="Request"></xs:enumeration>
				</xs:restriction>

			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:sequence>
					<xs:element name="errorId" type="xs:long"></xs:element>
					<xs:element name="domain" type="xs:string"></xs:element>
					<xs:element name="subdomain" type="xs:string" minOccurs="0"></xs:element>
					<xs:element name="severity"	type="tns:ErrorSeverity"></xs:element>
					<xs:element name="category"	type="tns:ErrorCategory"></xs:element>
					<xs:element name="message" type="xs:string"></xs:element>
					<xs:element name="exceptionId"	type="xs:token" minOccurs="0" ></xs:element>
					<xs:element name="parameter" type="tns:ErrorParameter" minOccurs="0" maxOccurs="unbounded">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<!-- 
					<xs:sequence>
					<xs:any maxOccurs="unbounded" minOccurs="0"
					processContents="lax" />
					</xs:sequence>
				-->
				<xs:sequence>
					<xs:element name="error" type="tns:CommonErrorData" minOccurs="0" maxOccurs="unbounded">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="CommonErrorData">
				<xs:annotation>
					<xs:documentation>Documentation goes here</xs:documentation>
					<xs:appinfo><typeLibrarySource library="common-type-library"
						namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
					</xs:appinfo>
				</xs:annotation>
			
				<xs:complexContent>
					<xs:extension base="tns:ErrorData">
						<xs:sequence>
							<xs:element name="errorName" type="xs:string"></xs:element>
							<xs:element name="cause" type="xs:string" minOccurs="0"></xs:element>
							<xs:element name="resolution" type="xs:string" minOccurs="0"></xs:element>
							<xs:element name="errorGroups" type="xs:string" minOccurs="0">
								<xs:annotation>
						<xs:documentation>Error group values are whitespace separated</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="organization" type="xs:string"></xs:element>
							<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string"
							use="optional">
						</xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>

			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Error"></xs:enumeration>
					<xs:enumeration value="Warning"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="ExtensionType">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:positiveInteger"></xs:element>
					<xs:element name="version" type="xs:string"></xs:element>
					<xs:element name="contentType" type="xs:string"></xs:element>
					<xs:element name="value" type="xs:string"></xs:element>
					<xs:any maxOccurs="unbounded" minOccurs="0"
						processContents="lax">
					</xs:any>
				</xs:sequence>
			</xs:complexType>
				
			<xs:element name="verifyAccessRequest" type="tns:VerifyAccessRequest" nillable="true" />
			<xs:element name="verifyAccessResponse"	type="tns:VerifyAccessResponse" nillable="true" />
			
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="verifyAccessRequest">
		<wsdl:part name="parameters"
			element="ns0:verifyAccessRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="verifyAccessResponse">
		<wsdl:part name="parameters"
			element="ns0:verifyAccessResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="PolicyEnforcementServicePort">
		<wsdl:operation name="verifyAccess">
			<wsdl:input message="ns0:verifyAccessRequest" />
			<wsdl:output message="ns0:verifyAccessResponse" />
		</wsdl:operation>		
	</wsdl:portType>
	
	<wsdl:binding name="PolicyEnforcementServiceSOAPBinding"
		type="ns0:PolicyEnforcementServicePort">
		<soap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="verifyAccess">
			<soap12:operation soapAction="urn:verifyAccess"
				style="document" />
			<wsdl:input>
				<soap12:body
					xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body
					xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>		
	</wsdl:binding>
	<wsdl:binding name="PolicyEnforcementServiceHttpBinding"
		type="ns0:PolicyEnforcementServicePort">
		<http:binding verb="POST" />
		<wsdl:operation name="verifyAccess">
			<http:operation
				location="PolicyEnforcementService/verifyAccess" />
			<wsdl:input>
				<mime:content part="parameters" type="text/xml" />
			</wsdl:input>
			<wsdl:output>
				<mime:content part="parameters" type="text/xml" />
			</wsdl:output>
		</wsdl:operation>		
	</wsdl:binding>
	<wsdl:service name="PolicyEnforcementService">
		<xs:annotation>
			<xs:appinfo>
				<ns0:version>1.3.0</ns0:version>
			</xs:appinfo>
			<wsdl:documentation>
				This service provides the ability to enforce security
				policies.
				<Version>1.3.0</Version>
			</wsdl:documentation>
		</xs:annotation>
		<wsdl:port name="PolicyEnforcementServiceHttpPort"
			binding="ns0:PolicyEnforcementServiceHttpBinding">
			<http:address
				location="https://svcs.ebay.com/services/security/v1/PolicyEnforcementService" />
		</wsdl:port>
		<wsdl:port name="PolicyEnforcementServiceSOAPPort"
			binding="ns0:PolicyEnforcementServiceSOAPBinding">
			<soap12:address
				location="https://svcs.ebay.com/services/security/v1/PolicyEnforcementService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>