authentication-service/AuthenticationServiceImpl/src/main/resources/META-INF/security/schema/config/AuthenticationServiceConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at 
   
       http://www.apache.org/licenses/LICENSE-2.0
       
 -->
<schema targetNamespace="http://www.ebayopensource.org/turmeric/services/authentication/config"
	elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ebayopensource.org/turmeric/services/authentication/config">

    <element name="authentication-service-config" type="tns:AuthnServiceConfig"/>

    <complexType name="AuthnServiceConfig">
    	<sequence>
     		<element name="supported-authenticator" type="tns:SupportedAuthenticatorGroup" minOccurs="0"/>
    	</sequence>
    </complexType>


    <complexType name="SupportedAuthenticatorGroup">
	<sequence>
		<element name="authenticator" type="tns:AuthenticatorConfig" minOccurs="0" maxOccurs="unbounded" />
	</sequence>
    </complexType>
	

    <complexType name="AuthenticatorConfig">
	<sequence>
		<element name="authentication-method" type="token"/>
		<element name="class-name" type="token"/>
	</sequence>
	<attribute name="name" type="token" use="required" />
    </complexType>
	
</schema>
