ratelimiter/RateLimiterProviderImpl/src/main/resources/META-INF/security/schema/RateLimiterCounterProviderConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at 
   
       http://www.apache.org/licenses/LICENSE-2.0
       
 -->
<schema targetNamespace="http://www.ebayopensource.org/turmeric/counter/ratelimiter/config"
	elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ebayopensource.org/turmeric/counter/ratelimiter/config">
    <element name="rate-limiter-counter-provider-config" type="tns:RateLimiterCounterProviderConfig"/>
    	
    <complexType name="RateLimiterCounterProviderConfig">
    	<sequence>
    		<element name="default" type="string" ></element>    	
     		<element name="provider-config-list" type="tns:RateLimiterCounterProviderList"/>
    	</sequence>
    </complexType>
    <complexType name="RateLimiterCounterProviderList">
    	<sequence>  	
     		<element name="provider-config" type="tns:RateLimiterCounterProvider" 
     		minOccurs="1" maxOccurs="unbounded"/>
    	</sequence>
    </complexType>
    <complexType name="RateLimiterCounterProvider">
    	<sequence>
    		<element name="provider-name" type="string"></element>    	
     		<element name="provider-impl-classname" type="token"/>
    	</sequence>
    </complexType>
</schema>
