policy/PolicyServiceImpl/src/main/resources/META-INF/security/schema/AuthenticationPolicy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at 
   
       http://www.apache.org/licenses/LICENSE-2.0
       
 -->

<schema targetNamespace="http://www.ebay.com/securityframework/policy"
	elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ebay.com/securityframework/policy">

    <element name="authentication-policy" type="tns:AuthenticationPolicy"/>
    

    <complexType name="AuthenticationPolicy">
    	<sequence>
		<element name="resource" type="tns:ResourceConfig" minOccurs="0" maxOccurs="unbounded" />
    	</sequence>
    </complexType>


    <complexType name="ResourceConfig">
    	<sequence>
		<element name="operation" type="tns:OperationConfig" minOccurs="0" maxOccurs="unbounded" />
    	</sequence>
	<attribute name="name" type="token" use="required" />
	<attribute name="type" type="token" use="required" />
    	<attribute name="default-authentication-method" type="token" use="required" />
    </complexType>

    <complexType name="OperationConfig">
	<sequence>
		<element name="authentication-method" type="token"  maxOccurs="unbounded" />
	</sequence>
	<attribute name="name" type="token" use="required" />
    </complexType>
</schema>
