policy-service/PolicyServiceImpl/src/main/resources/META-INF/security/schema/PolicyServiceProviderConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at 
   
       http://www.apache.org/licenses/LICENSE-2.0
       
 -->

<schema targetNamespace="http://www.ebayopensource.org/turmeric/services/policy/config"
	elementFormDefault="qualified"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ebayopensource.org/turmeric/services/policy/config">

    <element name="policy-service-provider-config" type="tns:PolicyServiceProviderConfig"/>
    
    <complexType name="PolicyServiceProviderConfig">
    	<sequence>
    		<element name="default" type="string" ></element>    	
     		<element name="provider-config-list" type="tns:PolicyServiceProviderList"/>
    	</sequence>
    </complexType>
    <complexType name="PolicyServiceProviderList">
    	<sequence>  	
     		<element name="provider-config" type="tns:PolicyServiceProvider" 
     		minOccurs="1" maxOccurs="unbounded"/>
    	</sequence>
    </complexType>
    <complexType name="PolicyServiceProvider">
    	<sequence>
    		<element name="provider-name" type="string"></element>   
     		<element name="policy-entity-provider-config" type="tns:PolicyEntityProviderConfig"/>
     		<element name="subject-entity-provider-config" type="tns:SubjectEntityProviderConfig"/>
     		<element name="resource-entity-provider-config" type="tns:ResourceEntityProviderConfig" />
     		<element name="authn-provider-config" type="tns:DefaultEntityProviderConfig" />
    	</sequence>
    </complexType>

	<!-- Default entity provider configuration definition  -->
	<complexType name="DefaultEntityProviderConfig">
		<sequence>
			<element name="provider-impl-classname" type="token" />
		</sequence>
    	</complexType>
	
		<complexType name="PolicyEntityProviderConfig">
			<sequence>
				<element name="policy-type-config" type="tns:TypeConfig" minOccurs="1" maxOccurs="unbounded" />
			</sequence>
    	</complexType>
    	
    	<complexType name="ResourceEntityProviderConfig">
			<sequence>
				<element name="resource-type-config" type="tns:TypeConfig" minOccurs="1" maxOccurs="unbounded" />
			</sequence>
    	</complexType>
    	
    	<complexType name="SubjectEntityProviderConfig">
			<sequence>
				<element name="subject-type-config" type="tns:TypeConfig" minOccurs="1" maxOccurs="unbounded" />
			</sequence>
    	</complexType>

	<complexType name="TypeConfig">
		<sequence>
		    <element name="type" type="string"/>
		    <element name="provider-impl-classname" type="string"/>
		</sequence>
    	</complexType>

</schema>
